.color-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.color-container span {
  text-transform: uppercase;
  margin-bottom: 2rem;
  z-index: 10;
}
.main-container {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  height: 50rem;
  max-height: 60vh;
  max-width: 100vw;
  margin-bottom: 1%;
  margin-top: 10px;
  min-height: 55vh;
}

.locked {
  background-image: url("assets/lock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hex-and-name {
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  background-size: 0;
  padding: 0;
  margin-bottom: 2em;
}
.hex-and-name p {
  background-size: 0;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}
.footer {
  z-index: 111;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  font-size: 1.1rem;
  font-weight: bold;
}
h1 {
  color: #005ce6;
  font-size: 2.5rem;
}
span,
p,
button {
  font-size: larger;
}
button {
  border-radius: 5%;
  margin: 0.5rem;
  padding: 1rem;
  border: 0px;
  color: #f5f2f2;
  background-color: #005ce6;
}
button:hover {
  background-color: #0b40a3;
}
.buttons {
  margin-bottom: 10px;
}
@media (max-width: 430px) {
  .locked {
    background-size: 35px;
  }
  h1 {
    font-size: 36px;
    margin: 0;
  }
  .top-container p {
    font-size: 0;
    margin-bottom: 1rem;
  }
  .main-container {
    height: 80vh;
    position: relative;
    bottom: -50px;
  }
}
@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .hex-and-name {
    margin-left: 2em;
    margin-bottom: 0;
    text-align: start;
  }
  .color-container {
    justify-content: flex-start;
  }
}
