* {
  font-family: "SF Mono", SFMono-Regular, ui-monospace, "DejaVu Sans Mono",
    Menlo, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue"),
    url(./assets/BebasNeue-Regular.otf) format("opentype");
}
h1 {
  font-family: "BebasNeue";
  font-weight: 700;
  margin-bottom: 0;
}
.hex-and-name p {
  font-family: "BebasNeue";
}
body {
  margin: 0;
  background: #f5f2f2;
  text-align: center;
}
